<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.eastbar.center.strategy.dao.KeyWordDao">
    <resultMap id="keyWordResult" type="KeyWord">
        <id property="id" column="seq_id" />
        <result property="keyword" column="keyword" />
        <result property="alarmType" column="alarm_type" />
        <result property="alarmRank" column="alarm_rank" />
        <result property="isBlock" column="is_block" />
        <result property="deleted" column="delete_flag"/>
        <result property="verNum" column="ver_num"/>
        <result property="monitorCode" column="monitor_code"/>
        <result property="isPub" column="is_pub"/>
    </resultMap>

    <!--查找表的全部信息-->
    <select id="getAllKeyWord" resultMap="keyWordResult" parameterType="java.lang.Integer">
        select * from t_keyword i
        <where>
            and  i.ver_num=#{verNum}
            and is_pub=1
        </where>
    </select>

    <select id="getAllAddKeywords" resultMap="keyWordResult" parameterType="java.lang.Integer">
        select * from t_keyword i
        <where>
            i.operation='add'
            and  i.ver_num=#{verNum}
            and i.is_pub=1
        </where>
    </select>

    <select id="getAllEditKeywords" resultMap="keyWordResult" parameterType="java.lang.Integer">
        select * from t_keyword i
        <where>
            i.operation='edit'
            and  i.ver_num=#{verNum}
            and i.is_pub=1
        </where>
    </select>

    <select id="getAllRemoveKeywords" resultMap="keyWordResult" parameterType="java.lang.Integer">
        select * from t_keyword i
        <where>
            i.operation='remove'
            and  i.ver_num=#{verNum}
            and i.is_pub=1
        </where>
    </select>

    <!--查找表的全部信息-->
    <select id="getKeyWordMonitorCodesByVersion" resultType="java.lang.String" parameterType="java.lang.Integer">
        select distinct monitor_Code from t_keyword i
        <where>
            and  i.ver_num=#{verNum}
            and i.is_pub=1
        </where>
    </select>
</mapper>