<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.eastbar.centers.strategy.dao.SpecialCustomerDao">
    <resultMap id="specialCustomerResult" type="SpecialCustomer">
        <id property="id" column="id" />
        <result property="certType" column="cert_type" />
        <result property="certId" column="cert_id" />
        <result property="alarmType" column="alarm_type" />
        <result property="alarmRank" column="alarm_rank" />
        <result property="deleted" column="delete_flag"/>
        <result property="verNum" column="ver_num"/>
        <result property="monitorCode" column="monitor_code"/>
    </resultMap>

    <!--查找表的全部信息-->
    <select id="getAllSpecialCustomer" resultMap="specialCustomerResult" parameterType="java.lang.Integer">
        select * from t_special_customer i
        <where>
            i.delete_flag=0
                and  i.ver_num=#{verNum}
        </where>
    </select>

    <select id="getAllAddSpecials" resultMap="specialCustomerResult" parameterType="java.lang.Integer">
        select * from t_special_customer i
        <where>
            i.operation='add'
            and  i.ver_num=#{verNum}
        </where>
    </select>

    <select id="getAllEditSpecails" resultMap="specialCustomerResult" parameterType="java.lang.Integer">
        select * from t_special_customer i
        <where>
            i.operation='edit'
            and  i.ver_num=#{verNum}
        </where>
    </select>

    <select id="getAllRemoveSpecials" resultMap="specialCustomerResult" parameterType="java.lang.Integer">
        select * from t_special_customer i
        <where>
            i.operation='remove'
            and  i.ver_num=#{verNum}
        </where>
    </select>

    <!--查找表的全部信息-->
    <select id="getSpecialCustomerMonitorCodesByVersion" resultType="java.lang.String" parameterType="java.lang.Integer">
        select distinct monitor_code from t_special_customer i
        <where>
            i.delete_flag=0
                and  i.ver_num=#{verNum}
        </where>
    </select>
</mapper>