<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.eastbar.web.report.dao.StatHourSiteOperDao">
    <resultMap id="statHourSiteOperResult" type="StatHourSiteOper">
        <id property="id" column="seq_id" />
        <result property="staYear" column="sta_year" />
        <result property="staMonth" column="sta_month" />
        <result property="staHour" column="sta_hour"/>
        <result property="staTime" column="sta_time"/>
        <result property="siteCode" column="site_code"/>
        <result property="monitorCode" column="monitor_code"/>
        <result property="onlineTime" column="online_time"/>
        <result property="customerCount" column="customer_count"/>
    </resultMap>

    <sql id="StatHourSiteOper">
        select * from t_stat_hour_site_oper t
    </sql>

    <!--查找表的全部信息-->
    <select id="getAll" resultMap="statHourSiteOperResult" parameterType="java.util.Map">
        <include refid="StatHourSiteOper"/>
        <where>
            <if test="startYear!=null and startYear!=''">
                t.sta_year>=#{startYear}
            </if>
            <if test="endYear!=null and endYear!=''">
                and t.sta_year&lt;=#{endYear}
            </if>
        </where>
    </select>


    <select id="getListByDay" resultType="java.util.Map" parameterType="java.util.Map">
        select sta_hour,sum(customer_count) as customer_count,sum(online_time) online_time from t_stat_hour_site_oper
        <where>
            <if test="btime!=null and btime!=''">
                sta_time>=to_date(#{btime},'yyyy-mm-dd hh24:mi:ss')
            </if>
            <if test="etime!=null and etime!=''">
                and sta_time&lt;=to_date(#{etime},'yyyy-mm-dd hh24:mi:ss')
            </if>
            <if test="monitorCode!=null and monitorCode!=''">
                and monitor_code=#{monitorCode}
            </if>
            <if test="siteCode!=null and siteCode!=''">
                and site_code like '%${siteCode}%'
            </if>
        </where>
        group by sta_hour
    </select>

    <select id="getListByWeek" resultType="java.util.Map" parameterType="java.util.Map">
        select to_char(sta_time,'d') as week,sum(customer_count) as customer_count,sum(online_time) as online_time from t_stat_hour_site_oper
        <where>
            <if test="btime!=null and btime!=''">
                sta_time>=to_date(#{btime},'yyyy-mm-dd hh24:mi:ss')
            </if>
            <if test="etime!=null and etime!=''">
                and sta_time&lt;=to_date(#{etime},'yyyy-mm-dd hh24:mi:ss')
            </if>
            <if test="monitorCode!=null and monitorCode!=''">
                and monitor_code=#{monitorCode}
            </if>
            <if test="siteCode!=null and siteCode!=''">
                and site_code like '%${siteCode}%'
            </if>
        </where>
        group by to_char(sta_time,'d')
    </select>
</mapper>