<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.eastbar.web.report.dao.StatMonthProgDao">
    <resultMap id="statMonthProgResult" type="StatMonthProg">
        <id property="id" column="seq_id" />
        <result property="staYear" column="sta_year" />
        <result property="staMonth" column="sta_month" />
        <result property="staTime" column="sta_time"/>
        <result property="siteCode" column="site_code"/>
        <result property="monitorCode" column="monitor_code"/>
        <result property="progName" column="prog_name"/>
        <result property="count" column="count"/>
    </resultMap>

    <sql id="StatMonthProg">
        select * from t_stat_month_prog t
    </sql>

    <!--查找表的全部信息-->
    <select id="getAll" resultMap="statMonthProgResult" parameterType="java.util.Map">
        <include refid="StatMonthProg"/>
        <where>
            <if test="btime!=null and btime!=''">
                t.sta_time>=to_date(#{btime},'yyyy-mm-dd hh24:mi:ss')
            </if>
            <if test="etime!=null and etime!=''">
                and t.sta_time&lt;=to_date(#{etime},'yyyy-mm-dd hh24:mi:ss')
            </if>
            <if test="monitorCode!=null and monitorCode!=''">
                and t.monitor_code like '${monitorCode}%'
            </if>
            <if test="siteCode!=null and siteCode!=''">
                and t.site_code like '${siteCode}%'
            </if>
        </where>
        order by t.count desc
    </select>
</mapper>