<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.eastbar.centers.strategy.dao.BannedProgDao">
    <resultMap id="bannedProgResult" type="BannedProg">
        <id property="id" column="id" />
        <result property="progType" column="prog_type"/>
        <result property="progName" column="prog_name" />
        <result property="progressName" column="progress_name" />
        <result property="featureCode" column="feature_code" />
        <result property="alarmType" column="alarm_type" />
        <result property="alarmRank" column="alarm_rank" />
        <result property="isBlock" column="is_block" />
        <result property="deleted" column="delete_flag"/>
        <result property="verNum" column="ver_num"/>
        <result property="monitorCode" column="monitor_code"/>
    </resultMap>

    <sql id="bannedProg">
        select * from t_banned_prog t
    </sql>

    <!--查找表的全部信息-->
    <select id="getAllAddProgs" resultMap="bannedProgResult" parameterType="java.lang.Integer">
        select * from t_banned_prog i
        <where>
            i.operation='add'
            and  i.ver_num=#{verNum}
        </where>
    </select>

    <!--查找表的全部信息-->
    <select id="getAllEditProgs" resultMap="bannedProgResult" parameterType="java.lang.Integer">
        select * from t_banned_prog i
        <where>
            i.operation='edit'
            and  i.ver_num=#{verNum}
        </where>
    </select>

    <!--查找表的全部信息-->
    <select id="getAllRemoveProgs" resultMap="bannedProgResult" parameterType="java.lang.Integer">
        select * from t_banned_prog i
        <where>
            i.operation='remove'
            and  i.ver_num=#{verNum}
        </where>
    </select>

    <!--查找表的全部信息-->
    <select id="getAllProgs" resultMap="bannedProgResult" parameterType="java.lang.Integer">
        select * from t_banned_prog i
        <where>
            i.delete_flag=0
            and  i.ver_num=#{verNum}
        </where>
    </select>

    <!--查找表的全部信息-->
    <select id="getProgMonitorCodesByVersion" resultType="java.lang.String" parameterType="java.lang.Integer">
        select distinct monitor_code from t_banned_prog i
        <where>
            i.delete_flag=0
            and  i.ver_num=#{verNum}
        </where>
    </select>

</mapper>