<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.eastbar.center.strategy.dao.BannedUrlDao">
    <resultMap id="bannedUrlResult" type="BannedUrl">
        <id property="id" column="id" />
        <result property="urlType" column="url_type" />
        <result property="urlValue" column="url_value" />
        <result property="alarmType" column="alarm_type" />
        <result property="isBlock" column="is_block" />
        <result property="alarmRank" column="alarm_rank" />
        <result property="deleted" column="delete_flag"/>
        <result property="verNum" column="ver_num"/>
        <result property="monitorCode" column="monitor_code"/>
    </resultMap>

    <!--查找表的全部信息-->
    <select id="getAllUrl" resultMap="bannedUrlResult" parameterType="java.lang.Integer">
        select * from t_banned_url i
        <where>
            i.delete_flag=0
                and  i.ver_num=#{verNum}
        </where>
    </select>

    <select id="getAllAddUrls" resultMap="bannedUrlResult" parameterType="java.lang.Integer">
        select * from t_banned_url i
        <where>
            i.operation='add'
            and  i.ver_num=#{verNum}
        </where>
    </select>

    <select id="getAllEditUrls" resultMap="bannedUrlResult" parameterType="java.lang.Integer">
        select * from t_banned_url i
        <where>
            i.operation='edit'
            and  i.ver_num=#{verNum}
        </where>
    </select>

    <select id="getAllRemoveUrls" resultMap="bannedUrlResult" parameterType="java.lang.Integer">
        select * from t_banned_url i
        <where>
            i.operation='edit'
            and  i.ver_num=#{verNum}
        </where>
    </select>


    <!--查找表的全部信息-->
    <select id="getUrlMonitorCodesByVersion" resultType="java.lang.String" parameterType="java.lang.Integer">
        select distinct monitor_code from t_banned_url i
        <where>
            i.delete_flag=0
                and  i.ver_num=#{verNum}
        </where>
    </select>

</mapper>