<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.eastbar.centers.strategy.dao.SiteDao">
    <resultMap id="siteResult" type="Site">
        <id property="siteCode" column="site_code" />
        <result property="monitorCode" column="monitor_code" />
        <result property="name" column="name" />
        <result property="regStatus" column="reg_status" />
        <result property="address" column="address" />
        <result property="zip" column="zip" />
        <result property="legalRepresent" column="legal_represent"/>
        <result property="principal" column="principal"/>
        <result property="principalTel" column="principal_Tel" />
        <result property="administrator" column="administrator" />
        <result property="adminTel" column="admin_tel" />
        <result property="terminalNum" column="terminal_num" />
        <result property="createTime" column="create_time"/>
        <result property="creator" column="creator" />
        <result property="updateTime" column="update_time"/>
        <result property="updator" column="updator"/>
        <result property="hourVer" column="hour_ver"/>
        <result property="urlVer" column="url_ver"/>
        <result property="progVer" column="prog_ver"/>
        <result property="specialVer" column="special_ver"/>
        <result property="keywordVer" column="keyword_ver"/>
    </resultMap>

    <!-- 修改信息 -->
    <update id="update" parameterType="Site">
        update t_site_info t
        <set>
          <if test="updateTime!=null">  t.update_time=#{updateTime},</if>
          <if test="updator!=null"> t.updator=#{updator},</if>
          <if test="hourVer!=null"> t.hour_ver=#{hourVer},</if>
          <if test="urlVer!=null"> t.url_ver=#{urlVer},</if>
          <if test="progVer!=null"> t.prog_ver=#{progVer},</if>
          <if test="specialVer!=null"> t.special_ver=#{specialVer}</if>
        </set>
        where t.site_code=#{siteCode}
    </update>

    <insert id="save" parameterType="Site" keyProperty="id" useGeneratedKeys="true">
        insert into t_site_info(site_code,monitor_code,name,reg_status,address,zip,legal_represent,principal,principal_tel,administrator,admin_tel,terminal_num,create_time,creator,update_time,updator,hour_ver,url_ver,prog_ver,special_ver,keyword_ver)
        values(#{siteCode},#{monitorCode},#{name},#{regStatus},#{address},#{zip},#{legalRepresent},#{principal},#{principalTel},#{administrator},#{adminTel},#{terminalNum},#{createTime},#{creator},#{updateTime},#{updator},#{hourVer},#{urlVer},#{progVer},#{specialVer},#{keywordVer})
    </insert>

    <select id="getByCode" parameterType="java.lang.String" resultMap="siteResult">
       select * from t_site t where t.site_code=#{siteCode}
    </select>
</mapper>