<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.eastbar.web.measures.dao.ManageRuleDao">
    <resultMap id="manageRuleResult" type="ManageRule">
        <id property="id" column="seq_id" />
        <result property="operHourVer" column="oper_hour_ver" />
        <result property="banUrlVer" column="ban_url_ver" />
        <result property="banProgVer" column="ban_prog_ver" />
        <result property="specialPersonVer" column="special_person_ver" />
        <result property="keywordVer" column="keyword_ver"/>
        <result property="hourVerNum" column="hour_ver_num" />
        <result property="urlVerNum" column="url_ver_num" />
        <result property="progVerNum" column="prog_ver_num" />
        <result property="specialVerNum" column="special_ver_num" />
        <result property="keywordVerNum" column="keyword_ver_num"/>
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="manageRule">
        select * from t_manage_rule t
    </sql>

    <!--根据id查找表信息-->
    <select id="get" resultMap="manageRuleResult">
      <include refid="manageRule"/>
    </select>


    <!-- 修改信息 -->
    <update id="update" parameterType="ManageRule">
        update t_manage_rule t
        <set>
           <if test="operHourVer!=null">
            t.oper_hour_ver=#{operHourVer},
           </if>
           <if test="banUrlVer!=null">
                t.ban_url_ver=#{banUrlVer},
           </if>
           <if test="banProgVer!=null">
            t.ban_prog_ver=#{banProgVer},
           </if>
           <if test="specialPersonVer!=null">
            t.special_person_ver=#{specialPersonVer},
           </if>
            <if test="keywordVer!=null">
                t.keyword_ver=#{keywordVer},
            </if>
            <if test="hourVerNum!=null">
                t.hour_ver_num=#{hourVerNum},
            </if>
            <if test="urlVerNum!=null">
                t.url_ver_num=#{urlVerNum},
            </if>
            <if test="progVerNum!=null">
                t.prog_ver_num=#{progVerNum},
            </if>
            <if test="specialVerNum!=null">
                t.special_ver_num=#{specialVerNum},
            </if>
            <if test="keywordVerNum!=null">
                t.keyword_ver_num=#{keywordVerNum},
            </if>
           <if test="updateTime!=null">
            t.update_time=to_date(#{updateTime},'yyyy-mm-dd hh24:mi:ss')
           </if>
        </set>
        where t.seq_id=#{id}
    </update>

</mapper>