<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.eastbar.centers.customerLog.dao.CustomerHostDao">
    <resultMap id="customerHostResult" type="CustomerHost">
        <id property="id" column="id" />
        <result property="cid" column="customer_id" />
        <result property="ipAdd" column="ip_add" />
        <result property="macAddress" column="mac_add" />
        <result property="onlineTime" column="online_time" />
        <result property="offlineTime" column="offline_time" />
        <result property="osSystem" column="os_system" />
        <result property="version" column="version" />
    </resultMap>

    <sql id="customerHost">
        select * from t_customer_host t
    </sql>
    
    <select id="getCustomerHost" parameterType="CustomerHost" resultMap="customerHostResult">
        select * from t_customer_host t
        where t.ip_add=#{ipAdd} and t.mac_add=#{macAddress}
        <if test="offlineTime==null">
         and t.offline_time is null
        </if>
        <if test="onlineTime!=null">
            and t.online_time=#{onlineTime}
        </if>
    </select>

    <!--插入信息 -->
    <insert id="saveHost" parameterType="CustomerHost" keyProperty="id" useGeneratedKeys="true">
        insert into t_customer_host(customer_id,ip_add,mac_add,online_time,offline_time,os_system,version)
        values(#{cid},#{ipAdd},#{macAddress},#{onlineTime},#{offlineTime},#{osSystem},#{version})
    </insert>

    <!-- 修改信息 -->
    <update id="updateHost" parameterType="CustomerHost">
        update t_customer_host t
        <set>
            <if test="cid!=null"> t.customer_id=#{cid},</if>
            <if test="ipAdd!=null">t.ip_add=#{ipAdd},</if>
            <if test="macAddress!=null">t.mac_add=#{macAddress},</if>
            <if test="onlineTime!=null">t.online_time=#{onlineTime},</if>
            <if test="offlineTime!=null">t.offline_time=#{offlineTime},</if>
            <if test="osSystem!=null">t.os_system=#{osSystem},</if>
            <if test="version!=null">t.version=#{version}</if>
        </set>
        where t.ip_add=#{ipAdd} and t.mac_add=#{macAddress} and t.offline_time is null
    </update>

</mapper>