<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.eastbar.center.customerLog.dao.CustomerHostDao">
    <resultMap id="customerResult" type="Customer">
        <id property="id" column="seq_id" />
        <result property="accountId" column="account_id" />
        <result property="siteCode" column="site_code" />
        <result property="provinceCode" column="province_code" />
        <result property="cityCode" column="city_code" />
        <result property="countyCode" column="county_code" />
        <result property="name" column="name" />
        <result property="certType" column="cert_type" />
        <result property="certId" column="cert_id" />
        <result property="nationality" column="nationality" />
        <result property="authOrg" column="auth_org"/>
        <result property="status" column="status" />
        <result property="openTime" column="open_time" />
        <result property="closeTime" column="close_time" />
    </resultMap>

    <sql id="customer">
        select * from t_customer t
    </sql>

    <select id="getCustomer" parameterType="Customer" resultMap="customerResult">
        select * from t_customer where site_code=#{siteCode} and account_id=#{accountId} and to_char(open_time,'yyyy-mm-dd hh24:mi:ss')=#{openTime}
    </select>

    <!--插入信息 -->
    <insert id="saveCustomer" parameterType="Customer" keyProperty="id" useGeneratedKeys="true">
        <selectKey resultType="int" keyProperty="id" order="BEFORE">
            select SEQ_T_CUSTOMER_ID.nextVal as seq_id from dual
        </selectKey>
        merge into t_customer t1
        using (select #{id} seq_id,#{accountId} account_id,#{siteCode} site_code,#{provinceCode} province_code,#{cityCode} city_code,#{countyCode} county_code,#{name} name,
        #{certType} cert_type,#{certId} cert_id,#{authOrg} auth_org,#{nationality} nationality,#{status} status,to_date(#{openTime},'yyyy-mm-dd hh24:mi:ss') open_time,null close_time from dual) t2
        on (t1.site_code = t2.site_code and t1.account_id=t2.account_id and t1.open_time=t2.open_time)
        when not matched then
        insert values (t2.seq_id,t2.account_id,t2.site_code,t2.province_code,t2.city_code,t2.county_code,t2.name,t2.cert_type,
        t2.cert_id,t2.auth_org,t2.nationality,t2.status,t2.open_time,t2.close_time)
    </insert>

    <!-- 修改营业时间信息 -->
    <update id="updateCustomer"  parameterType="Customer">
        update t_customer t
        <set>
            <if test="accountId!=null">t.account_id=#{accountId},</if>
            <if test="siteCode!=null">t.site_code=#{siteCode},</if>
            <if test="provinceCode!=null">t.province_code=#{provinceCode},</if>
            <if test="cityCode!=null">t.city_code=#{cityCode},</if>
            <if test="countyCode!=null">t.county_code=#{countyCode},</if>
            <if test="name!=null">t.name=#{name},</if>
            <if test="certType!=null">t.cert_type=#{certType},</if>
            <if test="certId!=null">t.cert_id=#{certId},</if>
            <if test="authOrg!=null">t.auth_org=#{authOrg},</if>
            <if test="nationality!=null">t.nationality=#{nationality},</if>
            <if test="openTime!=null">t.open_time=to_date(#{openTime},'yyyy-mm-dd hh24:mi:ss'),</if>
            <if test="closeTime!=null">t.close_time=to_date(#{closeTime},'yyyy-mm-dd hh24:mi:ss'),</if>
            <if test="status!=null">t.status=#{status}</if>
        </set>
        where t.site_code=#{siteCode} and t.account_id=#{accountId} and to_char(t.open_time,'yyyy-mm-dd hh24:mi:ss')=#{openTime}
    </update>

</mapper>