<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.eastbar.log2db.dao.SiteInstMsgLogDao">

	<insert id="saveListInstantMessageHistory" parameterType="java.util.List">
		INSERT INTO T_INSTANT_MESSAGE_HISTORY (site_code,customer_id,customer_name,host_ip,customer_id_type,instant_type,prog_account,start_time,end_time)SELECT AA.* FROM(
		<foreach collection="list" item="item" index="index" separator="union all">
			(select #{item.siteCode},#{item.customerId},#{item.customerName},#{item.hostIp},#{item.customerType},#{item.progType},#{item.progAccount},#{item.startTime},#{item.endTime} from dual)
		</foreach>) AA
	</insert> 
	
</mapper> 