<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.eastbar.log2db.dao.SiteEmailLogDao">

	<insert id="saveListMailHistory" parameterType="java.util.List">
		INSERT INTO t_mail_history (customer_id,customer_name,host_ip,access_time,is_block,customer_type,email_type,email_account,receive,theme)SELECT AA.* FROM(
		<foreach collection="list" item="item" index="index" separator="union all">
			(select #{item.customerId},#{item.customerName},#{item.hostIp},#{item.recordTime},#{item.blocked},#{item.customerType},#{item.emailType},#{item.emailAccount},#{item.emailReceptor},#{item.emailSubject} from dual)
		</foreach>) AA
	</insert> 
	
</mapper> 