<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.eastbar.log2db.dao.SiteUrlLogDao">

	<insert id="saveListUrlHistory" parameterType="java.util.List">
		INSERT INTO T_URL_HISTORY(CUSTOMER_ID,CUSTOMER_NAME,HOST_IP,ACCESS_TIME,IS_BLOCK,CUSTOMER_TYPE,URL)SELECT AA.* FROM(
		<foreach collection="list" item="item" index="index" separator="union all">
			(select #{item.customerId},#{item.customerName},#{item.hostIp},#{item.recordTime},#{item.blocked},#{item.customerType},#{item.url} from dual)
		</foreach>) AA
	</insert> 
		
</mapper> 