<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.eastbar.centers.strategy.dao.ManageRuleDao">
    <resultMap id="manageRuleResult" type="ManageRule">
        <id property="id" column="id" />
        <result property="hourVerNum" column="hour_ver_num" />
        <result property="urlVerNum" column="url_ver_num" />
        <result property="progVerNum" column="prog_ver_num" />
        <result property="specialVerNum" column="special_ver_num" />
        <result property="keywordVerNum" column="keyword_ver_num"/>
        <result property="updateTime" column="update_time" />
    </resultMap>

    <!--查找表的全部信息-->
    <select id="getAll" resultMap="manageRuleResult">
        select * from t_manage_rule
    </select>

</mapper>